<footer class="footer footer-default" style="z-index: 1000;">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <%= link_to("Nos mentions légales", root_path) %>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, Made with ❤️ in France</a>.
        </div>
    </div>
</footer>
