<footer class="footer footer-default" style="z-index: 1000;">
    <div class="container">
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, Made with ❤️ in France</a>.
        </div>
    </div>
</footer>
