   <div class="features-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">Chiffres clés</h2>
                            <h4 class="description">Qu'avons-nous fait depuis notre création ?</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-primary icon-circle">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">150</h4>
                                <p class="description">Moussaillons sont passés par THP.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-info icon-circle">
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">50</h4>
                                <p class="description">Mentors impliqués dans la communauté.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-success icon-circle">
									<i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">5</h4>
                                <p class="description">Villes investies, sur 3 continents.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-warning icon-circle">
<i class="fa fa-line-chart" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">3</h4>
                                <p class="description">Entreprises créés à la suite de The Hacking Project.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-default icon-circle">
<i class="fa fa-coffee" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">15000</h4>
                                <p class="description">Tasses de café bues.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-danger icon-circle">
<i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">5</h4>
                                <p class="description">En seulement 5 mois d'existence.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>