<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PassTech.io</title>
    <link rel="stylesheet" href="custom.scss">
</head>
<body>
    <canvas id="granim-canvas"></canvas>
<div class="hack">
    <div class="main container">
      <h1><div class="grey">~</div>PassTech 🍉 <div class="grey">%<div id="cursor">▮</div></div>
      </h1> 
      <h2>PASSE<div class="grey">.</div>TON<div class="grey">.</div>CODE<div class="grey">.</div>D'ABORD<div class="grey"><div class="grey">..........</div></h2>
      <p>Trouve la formation idéale en programmation informatique, augmente tes compétences et atteins tes objectifs !</p>
      <div class="steps">
        <div class="step step1">
          <h3>🖥 Étape 1 % ▮</h3>
            <p>Remplis le   <strong>formulaire</strong> que nous t'avons préparé.</p>
            <p>Il nous permet de connaître <strong>tes motivations et tes critères de recherche.</strong></p></div>
        <div class="step step2">
          <h3>🔮 Étape 2</h3>
            <p>On t’envoie ensuite rapidement nos <strong>recommandations personnalisées</strong><br> sur les cursus qui te conviennent le mieux.</p>
            <p>Et avec ça <strong>nos meilleurs conseils</strong> pour être armé au maximum avant <br> de commencer !</p></div>
        <div class="step step3">
          <h3>🏆 Étape 3</h3>
             <p>Inscris-toi dans le cursus et réalise ton objectif</p>
      </div></div>
       <p><!--C'est parti, à toi de jouer !-->
        <a href="https://nicolashovart.typeform.com/to/ILIfu6" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        JE TROUVE MA FORMATION 💡 
        </a></p>
      
       <p>Et si tu en ass déjà suivi une, ton retour nous intéresse ! (ça te prends 2mn30)
        <a href="https://nicolashovart.typeform.com/to/yw4YBp" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
         J'AI FINI UNE FORMATION ⌛
        </a></p>
      <TODO:>
      <div class="white-stripe"></div>
      
       <h2>NOTRE<div class="grey">.</div>MISSION<div class="grey">...........................</div>
      </h2>
      <h3>Aider à obtenir la meilleure information</h3>
        <p>La formation est le meilleur vecteur d'émancipation, de développement personnel et de progression professionnelle. Malheureusement beaucoup de particuliers se perdent dans la jungle des formations. Avoir la bonne in-formation est donc un premier pas
        important !</p>
      <h3>Apporter un éclairage sur le contenu des formations</h3>
        <p>Certaines pédagogies ou certaines technologies ont le vent en poupe, pourtant elles ne conviennent pas à tout le monde ou à toutes les situations. De plus, elles peuvent évoluer d'une session à l'autre. Et les mauvaises surprises sont dommageables
        pour les formés comme pour les organismes de formation.</p>
      <h3>Favoriser les échanges et les retours d'expérience sur les formations</h3>
        <p>Parfois le meilleur moyen de se rassurer sur une formation est d'avoir un échange avec une personne qui l'a suivi. C'est avant tout une expérience humaine où le ressenti compte autant que d'autres critères plus rationnels.</p>
        <h2>QUI<div class="grey">.</div>SOMMES-NOUS<div class="grey">.</div>?<div class="grey">.......................</div></h2>
      <h3>Nicolas HOVART <em>Fundador</em></h3>
        <p>" Ayant moi-même fait l'expérience de divers formations à la programmation comme formateur et comme apprenant, je souhaite <strong>permettre au plus grand nombre d'y accéder.</strong></p>
        <p>Cependant, je me suis rendu compte de <strong>la complexité que représente le choix d'une formation</strong> adaptée à ses besoins : coût de la formation,temps disponible, qualité des cours proposés, etc.</p>
        <p>Ainsi, s'est dessinée l'idée d'une <strong>matrice des formations adaptées aux besoins de chacun.</strong> "</p>
      <h3>Yvan SRAKA <em>Webmestre & Directeur Artistique en Chef</em></h3>
        <p>" Le <strong>rose</strong> <em>(accent du Sud-Ouest)</em> est ma couleur préfèrée ! "</p>
      
  <footer>
    Made with 💾 by Yvan & Nicolas
  </footer>
      <!--
      <h2>CONTACTEZ-NOUS<div class="grey">..........................</div></h2>
      <p>Contactez-nous : nous sommes toujours intéressés par vos retours et suggestions ;)</p>
      <h3>Echangeons... et changeons !</h3>
      <form action="#">
        <p>Inscris-toi pour recevoir nos news !</p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Email...</label>
        </div>
        <input type="submit" value="S'inscrire" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" />
        <p><small>Nous gardons vos données confidentielles.</small></p>
      </form>
      -->
    </div>
  </div>
  <script src="script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <script src="https://github.com/downloads/davatron5000/Lettering.js/jquery.lettering-0.6.1.min.js"></script>
  <script src="https://sarcadass.github.io/granim.js/assets/js/vendor/granim.min.js"></script>
</body>
</html>